.section-intro {
    position: relative;
    .section-content {
        width: 100%;
        max-width: 400px;
        padding: $padding-xl 0 $padding-lg 0;
    }
}

.intro {
    position: relative;
    background-color: $color-off-white;
    border-radius: $border-radius-lg;
    height: 450px;
}

.intro-title {
    padding: 6.25rem 0 0;
    width: 620px;
    display: inline-block;
    position: relative;
    left: 430px;
    z-index: 3;
}

.intro-image {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    img {
        height: 475px;
        width: 450px;
        border-bottom-left-radius: $border-radius-lg;
    }
}

.intro-heading {
    margin: 0 0 2.5rem 0;
}

.intro-position {
    font-weight: 500;
}

.divider {
    font-weight: 500;
    color: $color-grey;
    margin: 0 0.5rem;
    @media (max-width: 499px) {
        display: block;
        height: 1px;
        opacity: 0;
    }
}

.intro-location {
    font-weight: 500;
    color: $color-grey;
}

.intro-buttons {
    position: absolute;
    right: 0;
    bottom: -23px;
    .btn {
        margin-left: 1.25rem;
    }
}

.squiggle-container {
    position: absolute;
    right: -40px;
    bottom: 0;
    z-index: 1;
}

#squiggle-svg {
    width: 890px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

#squiggle-shape {
    fill: $color-off-gold;
}

#squiggle-path {
    fill: none;
    stroke: $color-off-gold;
    stroke-width: 45;
    stroke-linecap: round;
    clip-path: url(#squiggle-clip);

    stroke-dasharray: 848 848;
    stroke-dashoffset: 848;

    animation-delay: 0.5s;
    animation-duration: 1.5s;
    animation-name: drawSquiggle;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes drawSquiggle {
    from {
        stroke-dashoffset: 848;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@media (max-width: 1199px) {
    .intro-title {
        width: 500px;
        padding-top: 70px;
    }
    .intro-heading {
        margin-bottom: 2rem;
    }
    #squiggle-svg {
        width: 700px;
    }
}

@media (max-width: 991px) {
    .section-intro {
        .section-content {
            max-width: 100%;
            padding: 0;
            &.delay-4 {
                padding-top: $padding-lg;
            }
            &.delay-5 {
                padding-bottom: $padding-lg;
            }
        }
    }
    .intro-image {
        img {
            width: 180px;
            height: auto;
        }
    }
    .intro-title {
        left: 170px;
    }
    #squiggle-svg {
        width: 620px;
    }

}

@media (max-width: 767px) {
    .intro {
        height: auto;
    }
    .intro-title {
        width: 100%;
        left: 0;
        padding: 50px;
    }
    .intro-buttons {
        left: 0;
        text-align: center;
        .btn {
            margin-right: 1rem;
        }
    }
    .squiggle-container {
        top: -1rem;
        left: 1rem;
        right: 0;
    }
    #squiggle-svg {
        width: 420px;
    }
    .intro-image {
        display: none;
    }
}

@media (max-width: 599px) {
    #squiggle-svg {
        width: 400px;
    }
}

@media (max-width: 411px) {
    .intro-title {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .intro-buttons {
        .btn {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }
}

@media (max-width: 359px) {
    .intro-title {
        padding-left: 1.5rem;
        padding-right: 0.5rem;
    }

    .intro-heading {
        width: 260px;
    }
}