html {
    color: $color-black;
    overflow-x: hidden;
}

body {
    background-color: $color-white;
    font-family: $font-family-primary;
    font-size: 16px;
    font-weight: 400;
}

::selection {
    background: $color-gold;
}
::-moz-selection {
    background: $color-gold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-black;
    font-weight: 700;
    line-height: 1.4em;
    padding: 0;
    margin: 0;
    a {
        -webkit-user-select: auto;
        user-select: auto;        
    }
}

h1 {
    font-size: 60px;
    line-height: 1.1em;
}

h2 {
    font-size: 34px;
    line-height: 1.1em;
}

h3 {
    font-size: 26px;
    line-height: 1.1em;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
    text-transform: uppercase;
}

h6 {
    font-size: 12px;
    text-transform: uppercase;
}

a {
    color: $color-black;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    position: relative;
    transition: 0.3s ease color;
    z-index: 1;
    &:after {
        content: '';
        display: block;
        width: 0;
        height: 0.6em;
        left: -5%;
        bottom: 0.1em;
        z-index: -1;
        position: absolute;
        background-color: transparent;
        transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }
    &:visited {
        color: $color-black;
        text-decoration: none;
    }
    &:hover,
    &:focus,
    &:active {
        color: $color-black;
        &:after {
            width: 110%;
            background-color: $color-off-gold;
        }
    }
    &.highlight {
        &:after {
            width: 110%;
            background-color: $color-off-gold;
        }
        &:hover,
        &:focus,
        &:active {
            &:after {
                background-color: rgba($color-gold, 0.5);
            }
        }
    }
    &.underline {
        &:after {
            left: 0;
            width: 100%;
            height: 3px;
            background-color: rgba($color-gold, 0.5);
        }
        &:hover,
        &:focus,
        &:active {
            color: $color-gold;
            &:after {
                width: 100%;
                background-color: rgba($color-gold, 0.5);
            }
        }
    }
}

ul, li, p, figcaption {
    font-size: $font-size;
    line-height: 1.8em;
}

label {
    color: $color-grey;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
    -webkit-user-select: none;
    user-select: none;
}

hr {
    background-color: $color-grey;
    margin: $padding-lg 0;
}

@media (max-width: 767px) {

    h1 {
        font-size: 32px;
    }
    
}

@media (max-width: 575px) {

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
    }

    ul, li, p, figcaption {
        font-size: 14px;
    }

}