/* --------------------------------------------------------------
   Colours
   -------------------------------------------------------------- */

$color-blue: #2664ff;

$color-white: #fff;
$color-off-white: #f7efe9;
$color-off-gold: #f3e5da;
$color-gold: #d49d75;
$color-grey: #a9a696;
$color-black: #100c09;

$color-highlight: $color-off-gold;
$color-border: $color-grey;
$border-color: $color-grey;

/* --------------------------------------------------------------
   Type
   -------------------------------------------------------------- */

$font-family-primary: 'objektiv-mk3', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-secondary: 'objektiv-mk3', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size: 16px;

/* --------------------------------------------------------------
   Layout
   -------------------------------------------------------------- */

$padding-xl: 90px;
$padding-lg: 60px;
$padding-md: 40px;
$padding-sm: 30px;
$padding-xs: 20px;

$wrapper: 1920px;

$container: 1140px;
$container-sm: 830px;

$container-sm-tablet: 540px;

$container-sm-mobile: 100%;

/* --------------------------------------------------------------
   Other
   -------------------------------------------------------------- */

$animation-transform: 30px;

$border-radius: 3px;
$border-radius-lg: 6px;

$border-width: 2px;
$border: $border-width solid $border-color;

$shadow: 0 6px 18px rgba($color-black, 0.15);
$shadow-lg: 0 6px 18px rgba($color-black, 0.25);